doctype 5
html(ng-app="MEAN")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' )

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')

    script(src='javascripts/app.js')
    script(src='javascripts/directives.js')
  body
    block content
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
       .container
          .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href='#') MEAN Stack
          .collapse.navbar-collapse
              ul.nav.navbar-nav
                  li
                      a(href='#') Home
                  li
                      a(href='/#user') myAccount
                  li
                      a(href='/#contacts') Contacts
          //
            /.nav-collapse
