<div class="content">
    <div class="container">
        <div>
            <span ng-repeat="contact in contacts">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="firstName" class="control-label col-sm-2">Firstname</label>

                        <div class="col-sm-10">
                            <input id="firstName" class="form-control " ng-model="contact.firstName"
                                   placeholder="First Name"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label col-md-2">Lastname</label>

                        <div class="col-sm-10">
                            <input id="lastName" ng-model="contact.lastName" placeholder="Last Name"
                                   class="form-control"/>
                        </div>

                    </div>
                    <div class="form-group">
                     <span ng-repeat="phone in contact.phones" class="col-md-12">
                      <div class="radio-inline">
                          <label>
                              <input type="radio" name="optionsRadios" id="phnType" ng-model="phone.phnType" value="Cell" checked>
                              Cell
                          </label>
                      </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="phnType2" ng-model="phone.phnType" value="Office">
                            Office
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="phnType3" ng-model="phone.phnType" value="Home">
                            Home
                        </label>
                    </div>

                         <input ng-model="phone.number" type="phone" placeholder="(xxx)xxx-xxxx"/>
                     </span>
                    </div>
                    <button class="btn btn-xs btn-success" ng-click="contact.phones.push({})">Add Phone</button>
                    <br/>

                    <div ng-repeat="email in contact.emails">
                        <div class="form-group">
                            <input id="email" type="email" ng-model="email.email" placeholder="con@mobi.net">
                        </div>


                    </div>
                    <button class="btn btn-xs btn-success" ng-click="contact.emails.push({})">Add Email</button>
                    <div class="form-group">
                        <label for="company" class="control-label col-sm-2">Company</label>

                        <div class="col-sm-10">
                            <input id="company" class="form-control" ng-model="contact.company"
                                   placeholder="Works for"/>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label col-sm-2">Description</label>

                        <div class="col-sm-10">
                            <textarea id="description" class="form-control" ng-model="contact.description"
                                      placeholder="notes"></textarea>
                        </div>

                    </div>

                </form>

            </span>
            <button class="btn btn-warning" ng-click="contacts.push(newContact)">Add Contact</button>
        </div>
    </div>
</div>