<div class="content">
    <div class="container">
        <div>
            <span ng-repeat="contact in contacts">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="firstName" class="control-label"  >Firstname</label>
                        <input id="firstName" class="form-control" ng-model="contact.firstName" placeholder="First Name" />
                     </div>
                    <div class="form-group">
                        <label for="lastName"  class="control-label" >Lastname</label>
                        <input id="lastName" ng-model="contact.lastName" placeholder="Last Name" class="form-control"  />
                    </div>
                 <div class="form-group">
                     <span ng-repeat="phone in contact.phones" >
                         <input id="phnType" ng-model="phone.phnType" placeholder="cell, home, office" class="form-control" />
                         <input id="number" ng-model="phone.number" placeholder="(xxx)xxx-xxxx" class="form-control" />
                     </span>
                 </div>
                    <button class="btn btn-sm btn-primary" ng-click="contact.phones.push({})">Add Phone</button>
                        <span ng-repeat="email in contact.emails" >
                     <input id="email" ng-model="email.email" placeholder="con@mobi.net">

                 </span>
                        <input id="company" ng-model="contact.company" placeholder="Works for" />
                        <textarea id="description" ng-model="contact.description" placeholder="notes" ></textarea>

                </form>

            </span>
            <button class="btn btn-warning" ng-click="contacts.push(newContact)">Add Contact</button>
        </div>
    </div>
</div>