<div class="container">
    <h1>Search</h1>

    <div class="row">
        <div class="col-sm-4">
            <form role="form" name="mongoForm" ng-submit="mongoSearch()">
                <h2>Mongo</h2>

                <div class="form-group">
                    <label for="mongoField">Field</label>
                    <input type="text" class="form-control" id="mongoField" placeholder="firstName"
                           ng-model="mongo.field" ng-change="updateMongoQuery()">
                </div>
                <div class="form-group">
                    <label for="mongoValue">What are you looking for?</label>
                    <input type="text" class="form-control" id="mongoValue" placeholder="Someones name"
                           ng-model="mongo.value" ng-change="updateMongoQuery()">
                </div>
                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Search
                    </button>
                </div>
                <h3>Search Preview</h3>
                <pre>{{mongo.query|json}}</pre>
                <hr>
                <h3>Search Results - ({{mongo.results.length}})</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contact in mongo.results">
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-sm-4">
            <form role="form" name="esForm" ng-submit="esSearch()">
                <h2>elasticsearch</h2>

                <div class="form-group">
                    <label for="esValue">What are you looking for?</label>
                    <input type="text" class="form-control" id="esValue" placeholder="Anything"
                           ng-model="es.value" ng-change="updateEsQuery()">
                </div>

                <div class="form-group">
                    <label for="esFuzzy">
                        How Fuzzy
                    </label>
                    <input type="text" class="form-control" id="esFuzzy" placeholder="0.5"
                           ng-model="es.fuzzy" ng-change="updateEsQuery()">
                </div>

                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Search
                    </button>
                </div>
                <h3>Search Preview</h3>
                <pre>{{es.query|json}}</pre>
                <hr>
                <h3>Search Results - ({{es.results.total}})</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contact in es.results.hits track by $index">
                        <td>{{contact._source.firstName}}</td>
                        <td>{{contact._source.lastName}}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-sm-4">
            <form role="form" name="esForm">
                <h2>elasticsearch typeahead w/ sockets</h2>

                <div class="form-group">
                    <label for="esValue">Who are you looking for?</label>
                    <input type="text" class="form-control" id="esValue" placeholder="First Name"
                           ng-model="esTypeAhead.value" ng-change="performTypeahead()">
                </div>
                <div class="checkbox" ng-repeat="field in ['firstName','lastName']">
                    <label>
                        <input type="checkbox" name="fields[]" value="{{field}}"
                               ng-checked="esTypeAhead.fields.indexOf(field) > -1"
                               ng-click="toggleTypeAheadFields(field)"
                                > {{field}}
                    </label>
                </div>
                <hr>
                <h3>Search Results - ({{esTypeAhead.results.total}})</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contact in esTypeAhead.results.hits track by $index">
                        <td>{{contact._source.firstName}}</td>
                        <td>{{contact._source.lastName}}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</div>